@import "seattletimes";

.interactive {
  max-width: 960px;
  font-size: 16px;

  h1 {
    font-size: 24px;
  }

  .source, .note, .credit {
    font-size: 14px;
  }

  .source {
    margin-top: 20px;
  }

  .credit {
    text-align: right;
  }
}

.schedule-controls {
  text-align: center;
  .short { display: none }

  @media @mobile {
    .display-flex();

    .long { display: none }
    .short { display: block }
  }

  button {
    background: white;
    border: 1px solid @df-light-gray;
    padding: 4px 8px;

    &.active-day {
      background: @df-light-gray;
      border: 1px solid @df-middle-gray;
    }
  }
}

.schedule-container {
  position: relative;

  .doctor {
    margin: 10px 0;
    border-top: 1px solid @df-light-gray;
  }

  .info {
    .display-flex();
    .justify-content(space-between);
    .align-items(flex-end);

    h2 {
      margin: 15px 0 5px;
      display: inline-block;
      font-size: 16px;
    }

    .stats {
      font-size: 14px;
    }

    .overlap {
      font-weight: bold;
    }

  }

  .stats[data-intersection="0"] {
    display: none;
  }

  .tooltip {
    position: absolute;
    padding: 10px;
    display: block;
    background: white;
    display: none;
    font-size: 14px;
    max-width: 300px;
    box-shadow: 4px 4px 8px 4px fade(black, 10%);

    &.show {
      display: block;
      @media @mobile {
        left: 0 !important;
        width: 100% !important;
        max-width: 100%;
      }
    }

    h3 {
      font-size: 14px;
      margin: 0;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
  }
}

svg.schedule {
  width: 100%;
  background: @df-off-white;

  @media @mobile {
    height: 10vh;
  }

  text {
    fill: @df-middle-gray;

    @media @tablet {
      display: none;

      &[data-hour="8"],
      &[data-hour="12"],
      &[data-hour="16"],
      &[data-hour="20"] {
        display: block;
      }
    }
  }

  .tick {
    stroke: @df-light-gray;
    stroke-width: .5px;

    @media @mobile {
      stroke: none;

      &[data-hour="8"],
      &[data-hour="12"],
      &[data-hour="16"],
      &[data-hour="20"] {
        stroke: black;
        stroke-width: 1px;
      }
    }
  }

  .surgery-rectangle {
    fill: #b23b41;
  }

  .anesthesia-rectangle {
    fill: #efc8c0;
  }

  .intersection-rectangle {
    fill: #FFD493;
    //fade(@df-dark-gray, 20%);
    // stroke: darken(@st-dark-orange, 50%);
    stroke-width: .1;
    stroke-dasharray: 1 .5;
  }
}