@import "seattletimes";

.interactive {
  max-width: 960px;
}

.schedule-controls {
  button {
    background: white;
    border: 1px solid @df-light-gray;
    padding: 4px 8px;

    &.active-day {
      background: @df-light-gray;
      border: 1px solid @df-middle-gray;
    }
  }
}

.schedule-container {
  position: relative;

  .doctor {
    margin: 10px 0;
  }

  .info {
    .display-flex();
    .justify-content(space-between);
    .align-items(flex-end);

    h2 {
      margin: 0;
      display: inline-block;
      font-size: 16px;
    }

    .stats {
      font-size: 14px;
    }

  }

  .stats[data-intersection="0"] {
    display: none;
  }

  .tooltip {
    position: absolute;
    padding: 10px;
    display: block;
    background: white;
    display: none;
    font-size: 14px;
    max-width: 300px;

    &.show {
      display: block;
    }

    ul {
      margin: 0;
    }
  }
}

svg.schedule {
  width: 100%;
  background: @df-off-white;

  @media @mobile {
    height: 20vh;
  }

  text {
    fill: @df-middle-gray;
  }

  .tick {
    stroke: @df-light-gray;

    @media @mobile {
      stroke: none;

      &[data-hour="8"],
      &[data-hour="12"],
      &[data-hour="16"],
      &[data-hour="20"] {
        stroke: black;
        stroke-width: 1px;
      }
    }
  }

  .surgery-rectangle {
    fill: #b23b41;
  }

  .anesthesia-rectangle {
    fill: #efc8c0;
  }

  .intersection-rectangle {
    fill: #FFD493;
    //fade(@df-dark-gray, 20%);
    // stroke: darken(@st-dark-orange, 50%);
    stroke-width: .1;
    stroke-dasharray: 1 .5;
  }
}