<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <responsive-child>
      <main class="interactive">
        <h1>A one-week snapshot of Swedish surgeries</h1>

        <p class="chatter">
          Some of the top brain and spine surgeons at the Swedish Neuroscience Institute have regularly run multiple operating rooms at the same time. The chart below displays a snapshot of one week in 2015, showing how eight of the institute’s surgeons handled their caseloads.

        <div class="schedule-controls">
          <button class="previous day">&lt;</button>
          <button class="active-day" data-day="11/02/2015">
            <span class="long">Monday</span>
            <span class="short">M</span>
          </button>
          <button data-day="11/03/2015">
            <span class="long">Tuesday</span>
            <span class="short">T</span>
          </button>
          <button data-day="11/04/2015">
            <span class="long">Wednesday</span>
            <span class="short">W</span>
          </button>
          <button data-day="11/05/2015">
            <span class="long">Thursday</span>
            <span class="short">Th</span>
          </button>
          <button data-day="11/06/2015">
            <span class="long">Friday</span>
            <span class="short">F</span>
          </button>
          <button class="next day">&gt;</button>
        </div>

        <div class="schedule-container">
          <ul class="legend">
            <li> <i class="anesthesia dot"></i> Anesthesia
            <li> <i class="surgery dot"></i> Surgery
            <li> <i class="intersection dot"></i> Overlapping time
          </ul>
          <div class="rows"></div>
          <div class="tooltip"></div>
        </div>

        <div class="schedule-controls">
          <button class="previous day">&lt;</button>
          <button class="active-day" data-day="11/02/2015">
            <span class="long">Monday</span>
            <span class="short">M</span>
          </button>
          <button data-day="11/03/2015">
            <span class="long">Tuesday</span>
            <span class="short">T</span>
          </button>
          <button data-day="11/04/2015">
            <span class="long">Wednesday</span>
            <span class="short">W</span>
          </button>
          <button data-day="11/05/2015">
            <span class="long">Thursday</span>
            <span class="short">Th</span>
          </button>
          <button data-day="11/06/2015">
            <span class="long">Friday</span>
            <span class="short">F</span>
          </button>
          <button class="next day">&gt;</button>
        </div>

        <div class="source">Source: Seattle Times analysis of internal Swedish data.</div>
        <div class="note">
          Note: Anesthesia period reflects time when the patient was in the operating room and under anesthesia.
        </div>
        <div class="credit">THOMAS WILBURN / THE SEATTLE TIMES</div>
      </main>
    </responsive-child>

    <script>
window.swedish = <%= JSON.stringify(csv.schedule) %>;
    </script>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
